html {
	--pink: #ff0a52;
	--blue: #b7ebff;

	--pink0: #ea104e;
	--pink1: #ff0a52;
	--pink2: #400113;

	--blue0: #4eaee9;
	--blue1: #4eaee9;
	--blue2: #002340;

	--primary: #c8c3bc;
	--secondary: #131516;

	--bright: #eee;
	--light: #4a4845;
	--dark: #333;
	--bg: #000;
}

@media (color-gamut: p3) {
	html {
		--pink: oklch(0.657 0.294 16.698);
		--blue: oklch(0.907 0.074 218.641);

		--pink0: oklch(0.657 0.294 16.698);
		--pink1: oklch(0.615 0.278 18.568);
		--pink2: oklch(0.966 0.024 358.907);

		--blue0: oklch(90.7% 0.073 218.6);
		--blue1: oklch(0.56 0.163 241.961);
		--blue2: oklch(0.975 0.015 239.425);
	}
}

body {
	display: flex;
	color: var(--primary);
	background: var(--bg);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	overscroll-behavior: none;
	font-family: sans-serif;
}

a {
	color: var(--blue1);
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;
}

a:hover {
	color: var(--pink0);
	text-decoration: underline;
}

#topNav {
	display: flex;
	user-select: none;
	position: absolute;
	z-index: 1000;
	top: 16px;
	left: 50%;
	transform: translate(-50%);
	background: var(--secondary);
	justify-content: center;
	align-items: center;
	width: fit-content;
	height: 36px;
	padding: 4px;
	border-radius: 8px;
}

#topNav * {
	transition: 0.2s;
}

#topNav.loaded {
	justify-content: flex-start;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	border: none;
}

.btn-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	padding: 2px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 16px;
	font-weight: bold;
	line-height: 1;
	color: var(--primary);
	background-color: var(--dark);
	vertical-align: middle;
	cursor: pointer;
	max-width: fit-content;
	scale: 1;
	border: none;
	border-radius: 5px;
}

btn:hover {
	background-color: var(--light);
	color: #fff;
	scale: 1.05;
}

btn:active {
	background-color: var(--secondary);
}

btn.active {
	color: var(--pink);
	background-color: var(--light);
}

btn p {
	margin-left: 8px;
}

#zoneBtns {
	gap: 8px;
	display: flex;
	flex-direction: row;
}

icon {
	display: block;
	background-color: #eee;
	width: 24px;
	height: 24px;
}

#sceneZoneBtn {
	background-color: var(--blue1);
}

.play {
	margin-left: 5px;
	margin-right: -5px;
}

#playBtn {
	background-color: var(--pink);
}

.stop {
	margin-left: 4px;
	width: 21px;
}

#logo {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	border-radius: 32px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0;
	cursor: grab;
}

#logo img {
	width: 48px;
	height: 48px;
	padding: 8px;
}

.logo-big {
	width: 256px;
	height: 256px;
}

.na {
	filter: saturate(0);
}

#selector {
	display: block;
}

#sidebar {
	width: 540px;
}

pre {
	margin: 0;
}

#qr {
	width: 360px;
	height: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#qr img {
	width: 360px;
	height: 360px;
}

#qr0 {
	width: 360px;
	height: 360px;
	margin: 2em auto;
	background-color: var(--secondary);
	border-radius: 5px;
}

.zone {
	display: none;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.zone.active {
	display: flex;
}

.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.grayFilter {
	filter: grayscale(1);
}

#logo1 {
	width: 50%;
}

#newProjectZone .contents:hover #logo1 {
	filter: none;
}

@media screen and (max-width: 440px) {
	#topNav {
		padding: 6px;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	icon {
		width: 16px;
		height: 16px;
	}

	btn {
		height: 24px;
		padding-left: 12px;
		padding-right: 12px;
	}

	.play {
		margin-left: 2px;
		margin-right: -2px;
		width: 16px;
	}

	#zoneBtns {
		gap: 6px;
	}

	#logo {
		height: 36px;
	}

	#logo img {
		width: 36px;
		height: 36px;
		padding-left: 8px;
		padding-right: 8px;
	}
}
